<div class="container mt-3" *ngIf="prod.addcart.length >0"> 
    <div class="card" *ngFor="let data of prod.addcart;let i=index">
      <div class="card-body row">
          <div class="col-3 sm-col-3">
            <img  alt="check" style="width: 40%;" [src]="data.thumbnail">
          </div>
          <div class="col">
            <div class="col-12 sm-col-3"><b _ngcontent-ncc-c19="">{{data.title}} - {{data.description}}</b></div>
            <div class="col-12 sm-col-3">Rs : {{data.price}}</div>
        </div>
        <div  class="col-2">
          <div  class="col-2 sm-col-3">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" (click)="delete1(i)">Delete</button>
          </div>
          <br>
          <button  class="col-2 sm-col-2 btn btn-primary" (click)="quantitydec(i)">-</button>
          <button  class="col-2 sm-col-2 btn btn-primary">{{data.quantity}}</button>
          <button  class="col-2 sm-col-2 btn btn-primary" (click)="quantityinc(i)">+</button>
        </div>

      </div>
    </div>
    </div>
    <div class="container mt-3">
        <div class="card" >
          <div class="card-body row">
            <div  class="col-10 sm-col-3">
              <h2 >
                <b >Total Amount</b>
              </h2>
              <h4 >
                <b >Rs :{{total}}</b>
              </h4>
            </div>    
            <div  class="col-2 sm-col-1">
              <button  class="btn btn-primary" (click)="datacreation()">InVoice</button>
            </div>
          </div>
        </div>
        </div>

        <div class="modal" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                Are you sure want to delete cart item?

              </div>
        
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete()">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
              </div>
        
            </div>
          </div>
        </div>