<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">product</a>
      <button type="button" class="btn btn-primary" (click)="btnAjout()" >Cart</button>
    </div>
  </nav>
  <div class="container mt-3">
    <div class="card" *ngFor="let data of products">
      <div class="card-body row">
          <div class="col-3 sm-col-3">
            <img  alt="check" style="width: 40%;" [src]="data.thumbnail">
          </div>
          <div class="col">
            <div class="col-12 sm-col-3"><b _ngcontent-ncc-c19="">{{data.title}} - {{data.description}}</b></div>
            <div class="col-12 sm-col-3">Rs : {{data.price}}</div>
        </div>
          <div class="col-2 sm-col-2">
            <button type="button" class="btn btn-primary" (click)="addtocart(data)" >Add Cart</button>
          </div>

      </div>
    </div>
    
    </div>
   
   <div style="margin-top: 20px;">
    <nav aria-label="..." >
      <ul class="pagination pagination-sm justify-content-center" >
        <li class="page-item" *ngFor="let page of pagearray;let i=index" [ngClass]="page == current?'active':''" aria-current="page" (click)="pagechange(i)">
          <span class="page-link" >{{page}}</span>
        </li>
        
      </ul>
    </nav>
   </div>